<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <style>
            table, td {
                border: solid black 0.1rem;
            }

            td {
                padding: 1rem;
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav>

        <ul>
            <li>
                <a href="{{ url('homepage') }}">home</a>
            </li>
            <li>
                <a href="{{ url('category_index') }}">categories</a>
            </li>
            <li>
                <a href="{{ url('product_index') }}">products</a>
            </li>
        </ul>
    </nav>
    <hr>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
